@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid" style="background-image: url('https://springboard-cdn.appadvice.com/wp-content/appadvice-v2-media/2016/11/Netflix-background_860c8ece6b34fb4f43af02255ca8f225-xl.jpg');height:100vh;background-size:cover;border-radius:15px">
    
    <div class="jumbotron jumbotron-fluid" style="background-color: rgba(58,54,50,0.7); border-radius: 15px ">
    <h1 class="text-center" style="color:white">Welcome</h1><hr />
        </div>
    
    

    <div class="text-center">
        <div class="table" >
            <tr>
                <td >
                <button type="button" class="btn-lg btn btn-danger" onclick="location.href = '@Url.Action("Index","Register")'">Sign Up</button>
                </td>
                <td style="color:white"> Already have account ?</td>
                <td>
                    <button type="button" class="btn-lg btn btn-danger" onclick="location.href = '@Url.Action("Index","Login")'">Sign in</button>
                </td>
            </tr>
        </div>
    </div>
</div>
