<style>
    .child {
        width: 50px;
        height: 50px;
        background-color: red;
        /* Center vertically */
        position: absolute;
        top: 50%;
        margin-top: -25px; /* Half this element's height */
    }
    

</style>

<div class="container" style="background-image: url('https://wallpaperboat.com/wp-content/uploads/2019/11/cinema-05.jpg');background-size:cover">

    
    <br />
    
        <div class="text-center" >
            <img src="~/images/booktemp.jpg" class="img-fluid" style="border-radius:30px"/>
        </div>
    
        <br />
        <div class="align-items-center">
            <div class="container-fluid">
                <div class="row mt-2">
                    

                        <div class="col-md-3 col-sm-6">
                            <a href="Mrating">
                                <div class="jumbotron" style="background-image: url('https://orig00.deviantart.net/4258/f/2015/105/9/d/marvel_movie_folder_icon_pack__clean__by_musacakir-d8pskhr.png'); background-size: cover"> </div>
                            </a>
                           
                        
                        <p class="container text-center" style="font-size:x-large">@Html.ActionLink("All Movies", "Mrating", "Rate",null ,new { style="color:white"})</p>
                            
                        </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="AllMovies">
                            <div class="jumbotron" style="background-image: url('https://th.bing.com/th/id/R.f29797665fb1dbf03dad81b02fac9299?rik=%2fwx2DWpxeDljng&riu=http%3a%2f%2fureadthis.com%2fwp-content%2fuploads%2f2018%2f04%2fmovie-ticket-booking.jpg&ehk=0NYYpN%2bgltlhUSONWOURRlnAXv%2fZi0VF%2fufxfgYJ7os%3d&risl=&pid=ImgRaw&r=0'); background-size: cover"> </div>
                        </a>
                      
                        <p class="container text-center"  style="font-size:x-large"> @Html.ActionLink("Available Movie Shows", "AllMovies", "Movie", null, new { style = "color:white" })</p>
                            
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="Details">
                            <div class="jumbotron" style="background-image: url('https://www.pngitem.com/pimgs/m/24-248423_profile-icon-png-image-free-download-searchpng-instagram.png'); background-size: cover ">
                               
                            </div>
                        </a>
                        <p class="container text-center"  style="font-size:x-large"> @Html.ActionLink("My Profile", "Details", "Register", null, new { style = "color:white" })</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="MyList">
                            <div class="jumbotron" style="background-image: url('https://cdn.w600.comps.canstockphoto.com.br/%C3%ADcone-cheque-aceitar-sinal-banco-de-imagens_csp27468403.jpg'); background-size: cover"> </div>
                        </a>
                        <p class="container text-center"  style="font-size:x-large">@Html.ActionLink("My Wish List", "MyList", "Movie", null, new { style = "color:white" })</p>
                    </div>




                </div>
            </div>
        </div>

</div>
